@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
}

.content {
	width: calc(100% - 250px);
	margin-left: 250px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #222222;
}

.bg-black-trans {
	background-color: rgba(0,0,0,0.4);
}

.text-gray {
	color: #222222;
}

.text-black {
	color: black;
}


.text-white {
	color: white;
}

h1 {
	font-weight: 700px;
	margin: 0;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

.fs-18px {
	font-size: 18px;
}

.fs-25px {
	font-size: 25px;
}

.fs-23px {
	font-size: 23px;
}

.font-weight-bold {
	font-weight: 700;
}

.br-4px {
	border-radius: 4px;
}

.br-1-gray {
	border-right: 1px solid #909090;
}

.b-1-light-gray {
	border: 1px solid #ccc;
}

.bb-2-gray {
	border-bottom: 2px solid #909090;
}

.bb-1-gray-hover:hover {
	border-bottom: 1px solid #222222;
}

.bb-1-white-hover:hover {
	border-bottom: 1px solid white;
}

.p-5px {
	padding: 5px;
}

.p-10px {
	padding: 10px;
}

.p-20px {
	padding: 20px;
}

.p-40px {
	padding: 40px;
}

.py-50px {
	padding-top: 50px;
	padding-bottom: 50px;
}

.py-30px {
	padding-top: 30px;
	padding-bottom: 30px;
}

.px-100px {
	padding-left: 100px;
	padding-right: 100px;
}

.my-10px {
	margin-left: 10px;
	margin-right: 10px;
}

.mx-5px {
	margin: 5px 0;
}

.mt-50px {
	margin-top: 50px;
}

.mt-30px {
	margin-top: 30px;
}

.mt-20px {
	margin-top: 20px;
}

.mt-10px {
	margin-top: 10px;
}

.mt-5px {
	margin-top: 5px;
}

.mt-250px {
	margin-top: 250px;
}

.ml-5px {
	margin-left: 5px;
}

.ml-10px {
	margin-left: 10px;
}

.w-100 {
	width: 100%;
}

.w-33 {
	width: 33%;
}

.h-250px {
	height: 250px;
}

.w-400px {
	width: 400px;
}

.object-fit-contain {
	object-fit: contain;
}

.object-fit-cover {
	object-fit: cover;
}

.cursor-pointer {
	cursor: pointer;
}

.b-image {
	background-color: #f5f6f7;
	background-image: url("../photos/block.jpg");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-space-between {
	justify-content: space-between;
}

.align-items-center {
	-webkit-box-align: center;
	align-items: center;
}

.sticky {
	position: sticky;
	top: 0;
}

.dot:before {
	content: "\A";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #222222;
	display: inline-block;
	margin: 6px 5px;
}


@media only screen and (max-width: 1000px) {
	.content {
		width: 100%;
		margin-left: 0;
	}

	.sidebar {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.d-up-to-m-none {
		display: none;
	}

	.px-up-to-m-50px {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media only screen and (min-width: 701px) {
	.d-from-m-none {
		display: none;
	}

	.px-from-m-100px {
		padding-left: 100px;
		padding-right: 100px;
	}
}